
.view-display-id-page_faculty_listing, .view-display-id-page_faculty_full_listing {
  .views-row {
    @extend .col-xs-6;
    @extend .col-sm-4;
  }
  div.views-row {
      height: 270px;
  }
  .views-row-odd, .views-row-even {
    margin-bottom:20px;
    text-align: center;
    @include breakpoint($education-bg-image) {
        text-align: left;
      }
  }
  .pagination {
    clear: both;
  }
}
