
.view-display-id-panel_pane_faculty_staff_view {
  .views-row-even {
    background-color: $black_10;
  }
  .attachement_faculty_staff_view {
    @extend .large-text;
  }

  .views-row-odd, .views-row-even {
    a {
      display: block;
      line-height: 2em;
    }
    clear: both;
    line-height: 2em;
    text-align: left;
  }
  .views-field-field-person-last-name, .views-field-field-person-email, .views-field-field-person-phone-number {
      @extend .col-md-4;
  }
  .views-field-field-person-email, .views-field-field-person-phone-number {
    display: none;
    visibility: hidden;
    height:0;

    @include breakpoint($education-bg-image) {
        display: inline;
        visibility: visible;
        height:auto;
      }
  }
}
