
.view-display-id-panel_pane_faculty_staff_view {
  .attachement_faculty_staff_view {
    @extend .large-text;
  }

  .views-row-odd, .views-row-even {
    a {
      display: block;
      line-height: 2em;
    }
    line-height: 2em;
    text-align: center;
    @include breakpoint($education-bg-image) {
        text-align: left;
      }
  }
  .views-field-field-person-last-name, .views-field-field-person-email, .views-field-field-person-phone-number {
      @extend .col-sm-4;
  }
  .views-field-field-person-email, .views-field-field-person-phone-number {
    display: hidden;
    visibility: hidden;

    @include breakpoint($education-bg-image) {
        display: visible;
        visibility: visible;
      }
  }
  .views-row-even {
    background-color: $black_20;
  }
}
