@import '../variables/colors';

h1, .h1 {
  border-bottom: 3px solid $yellow;
  color: $black;
  display: inline-block;
  padding-bottom: 2rem;
  text-transform: uppercase;
  @include font-size(2.25);

  &.title {
    margin: 0;
  }
}

h2, .h2 {
  color: $black;
  margin-bottom: 0.75rem;
  margin-top: 2.25rem;
  @include font-size(1.5);
}

h3, .h3 {
  color: $black;
  margin-bottom: 0.75rem;
  margin-top: 2rem;
  text-transform: uppercase;
  @include font-size(1.125);
}

h4, .h4 {
  color: $black;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  @include font-size(1.125);
}

h5, .h5 {
  color: $black;
  margin-bottom: 0.75rem;
  margin-top: 1rem;
  @include font-size(1.125);
}
