@import '../variables/colors';

a {
  color: $blue;
  font-family: $avenir-65;

  &:hover, &:focus {
    color: darken($blue, 10);
    text-decoration: none;
  }
}

#main-wrapper {
  a:hover, a:focus {
      background-color: #fcfcfc;
  }
}
