.primary-menu-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
  float: right;
  margin-top: 9px;
  text-transform: uppercase;
  @include font-size(1.2);
  color: #fff;

  .menu-text {
    font-family: $avenir-85;
    position: relative;
    top: -4px;
  }

  .menu-icon {
    display: inline-block;
    height: 23px;
    width: 46px;
    background: transparent url('/sites/education.uiowa.edu/themes/education_radix/assets/images/menu/menu_white.png') no-repeat center center;
    background-size: contain;
    margin-left: 1rem;
  }

  &:hover, &:focus {
    color: $yellow;

    .menu-icon {
      background-image: url('/sites/education.uiowa.edu/themes/education_radix/assets/images/menu/menu_yellow.png');
    }
  }
}

#primaryMenu {
  background-color: $black_80;

  a {
    color: #fff;

    &:hover, &:focus {
      color: $yellow;
    }
  }
}
