.region-sidebar-first .menu-block-wrapper {
  background-color: $yellow;
  padding: 20px;

  @include breakpoint($education-bg-image) {
    margin-top: -50px;
    min-height: 500px;
  }

  a {
    @extend .h4;
    margin: 0;
    // Indent wrapped lines.
    padding-left: 1.5rem;
    text-indent: -0.5rem;
  }

  > ul > li > a { //Top-level links.
    @extend .h3;
    margin: 0;
  }

  // Menu block for Academic Programs, Centers, and Services.
  &.menu-block-5 {
    // Hide links not in the active trail.
    > ul.menu >li:not(.active-trail) {
      display: none;
    }
  }
}
