.tall-image {
  position: relative;

  img {
    height: auto;
    max-width: auto;
    width: 100%;
  }

  .header-content {
    background-color: rgba(255,255,255,.7);
    bottom: 0;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  h1.title {
    border-bottom: none;
    padding: 0;
  }
}


.page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

// Background header images.
#bg-image {
  @include breakpoint($education-bg-image) {
    height: 200px;
  }
}
