.grey-background {
  background-color: $black_20;

  a {
    color: darken($blue, 10);

    &:hover, &:focus {
      color: darken($blue, 20);
    }
  }
}

.light-grey-background {
  background-color: $black_10;

  a {
    color: darken($blue, 10);

    &:hover, &:focus {
      color: darken($blue, 20);
    }
  }
}

.yellow-background {
  background-color: $yellow;

    a {
      color: darken($blue, 15);

      &:hover, &:focus {
        color: darken($blue, 25);
      }
    }
}
