.btn-primary, .btn-primary:active {
  background-color: $yellow;
  border: none;
  color: $black_80;
  font-size: inherit;
  padding: 12px 20px 10px;
  text-transform: uppercase;
  white-space: normal;

  &:hover, &:focus {
    background-color: $black_20;
    color: $black_80;
  }
}

.btn-long {
  @extend .btn-primary;
  display: block;
  width: 100%;
}
