.page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

#sidebar-first {
  margin-bottom: 36px;
}

#footer {
  background-color: $black;
  color: #fff;
  margin-bottom: 0;
  padding: 2rem 0;

  a {
    color: $yellow;

    &:hover, &:focus {
      color: darken($yellow, 10);
    }
  }
}
