// https://accessibility.oit.ncsu.edu/tools/color-contrast/accessible-color-palette.php?colors=fff,000,333,ccc,ffcd00,f7a700,0c9bd2,629f37,ff478b&level=AA

$black: #000000;
$black_80: lighten(#000000, 20);
$black_20: lighten(#000000, 80);
$blue: #0c9bd2;
$green: #629f37;
$pink: #ff478b;
$yellow: #ffcd00;
$orange: #f7a700;
